#index2 {
}
#index2 #home .figure1 {
    opacity: 0;
    animation: bounceIn 1s forwards;
}
#index2 #home .figure2 {
    opacity: 0;
    animation: bounceIn 1s 0.5s forwards;
}
#index2 #home .figure3 {
    opacity: 0;
    animation: bounceIn 1s 1s forwards;
}
#index2 #home .figure4 {
    opacity: 0;
    animation: bounceIn 1s 0.8s forwards;
}
#index2 #home .figure5 {
    opacity: 0;
    animation: bounceIn 1s 1.2s forwards;
}
#index2 .move__text__inner {
  opacity: 0;
  animation: fadeInUp 1s 1.5s forwards;
}
.fadeInUp {
  opacity: 0;
  animation: fadeInUp 1s 1.5s forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceIn {
  from,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0) scale3d(0.3, 0.3, 0.3) rotateZ(3600deg);
  }

  90% {
    transform: translate3d(0, 15px, 0) scale3d(1.1, 1.1, 1.1) rotateZ(35deg);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateZ(45deg);
  }
}

@keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0) scaleY(3) rotateZ(45deg);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0) scaleY(0.9) rotateZ(45deg);
  }

  75% {
    transform: translate3d(0, -15px, 0) scaleY(0.95) rotateZ(45deg);
  }

  90% {
    transform: translate3d(0, 10px, 0) scaleY(0.985) rotateZ(45deg);
  }

  to {
    transform: translate3d(0, 0, 0) rotateZ(45deg);
  }
}