#home {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  margin-bottom: 200px;
}
.main__title {
  font-family: var(--font-eng);
  font-weight: 700;
  font-size: 200px;
  text-transform: uppercase;
  white-space: nowrap;
  margin-top: 420px;
}
#home .figure__inner {
}
#home .figure {
  background-color: var(--pc-y);
  transform: rotate(45deg);
  position: absolute;
}
#home .figure1 {
  position: relative;
  width: 250px;
  height: 250px;
  top: 206px;
  left: 230px;
  overflow: hidden;
}
.star {
  align-items: center;
  font-family: var(--font-eng);
  font-size: 100px;
  font-weight: 100;
  color: var(--pc-y);
  position: absolute;
  top: 180px;
  left: 200px;
}
.hover__txt {
  font-family: var(--font-eng);
  font-size: 35px;
  font-weight: 300;
  text-transform: uppercase;
  color: var(--pc-y);
  position: absolute;
  top: 220px;
  left: 500px;
}
#home .figure1 .sunglass {
  background: url('../../img/sunglass.png') no-repeat center / contain;
  width: 115px;
  height: 60px;
  position: absolute;
  top: 65px;
  left: 15px;
  z-index: 1;
  transform: rotate(-45deg);
  transition: top .3s, left .3s;
}
#home .figure1:hover .sunglass {
  top: -1000px;
  left: -500px;
}
#home .figure1 img {
  width: 250px;
  transform: rotate(-45deg) scale(1.4) translate(20px, 10px);
}

#home .figure2 {
  width: 334px;
  height: 334px;
  top: 477px;
  left: 310px;
}
#home .figure3 {
  width: 172px;
  height: 172px;
  top: 355px;
  left: 706px;
  z-index: -1;
}
#home .figure4 {
  width: 410px;
  height: 410px;
  top: 340px;
  left: 960px;
  z-index: -1;
}
#home .figure5 {
  width: 210px;
  height: 210px;
  top: 355px;
  left: 1440px;
}