#react {
}
.react__wrap {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.react__section__inner {
    overscroll-behavior: none;
    width: 467%;
    display: flex;
    flex-wrap: nowrap;
}
.react__section {
    width: 100%;
    height: 100vh;
}
.react__section .move__text__inner {
    pointer-events: none;
    width: 200%;
    margin-top: 250px;
    z-index: 1;
}
.react__section__tit {
    font-family: var(--font-eng);
    font-size: 800px;
    font-weight: 400;
    letter-spacing: -0.05em;
}

/* figure__inner */
.react__section01 {
    width: 300%;
}
.react__section .figure__inner {
}
.react__section .figure {
    position: relative;
    border-radius: 50%;
    background-color: var(--pc-y);
    position: absolute;
    overflow: hidden;
}
.react__section .figure .figureImg {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-position: center center;
    position: absolute;
    transform: scale(0);
    transition: all .3s cubic-bezier(0.87,-0.04, 0.45, 1);
}
.react__section .figure:hover .figureImg {
    transform: scale(1);
}
.react__section .figure1 .figureImg {
    background-image: url(../../img/react01.png);
}
.react__section .figure3 .figureImg {
    background-image: url(../../img/react02.png);
}
.react__section .figure6 .figureImg {
    background-image: url(../../img/react03.png);
}
.react__section .figure7 .figureImg {
    background-image: url(../../img/react04.png);
}

.react__section .figure1 {
    width: 740px;
    height: 740px;
    top: 56px;
    left: 513px;
}
.react__section .figure2 {
    width: 516px;
    height: 516px;
    top: 394px;
    left: 1441px;
    z-index: 1;
}
.react__section .figure3 {
    width: 817px;
    height: 817px;
    top: -126px;
    left: 2268px;
    z-index: 1;
}
.react__section .figure4 {
    width: 530px;
    height: 530px;
    top: 718px;
    left: 3044px;
}
.react__section .figure5 {
    width: 390px;
    height: 390px;
    top: 404px;
    left: 3559px;
}
.react__section .figure6 {
    width: 915px;
    height: 915px;
    top: 56px;
    left: 4528px;
    z-index: 1;
}
.react__section .figure7 {
    width: 583px;
    height: 583px;
    top: 477px;
    left: 5588px;
    z-index: 1;
}

.react__section01 img {
    width: 1920px;
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 6649px;
    z-index: 1;
}

/* react__section02 */
.react__section02 {}